# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Flask
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db